.loading {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;


}

.appSection{
  display: flex;
  justify-content: center;
  background-color: black;
}

.loader{
  top: 45%;
  position: absolute;
}