.details {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
  font-size: 1.5rem;
  margin-bottom: 5%;
}
@media (width>1400px) {
  .details {
    width: 1400px;
  }
}

.detailTop {
  display: flex;
  width: 90%;
  margin-top: 5%;
  height: 25rem;
  justify-content: flex-start;
  align-items: center;
  background-color: #2b3035;
  padding: 1%;
}

.detailImages {
  width: 40%;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 7%;
}

.detailImages img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.DetailVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.detailIfram {
  width: 100%;
  height: 100%;
}

.detailBottom {
  width: 92%;
  height: 30em;
  margin-bottom: 5%;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d1c1c;
  width: 60%;
  height: 90%;
  margin-top: 4%;
  padding: 1% 2% 5% 2%;
}

.detailRelated {
  width: 25%;
  height: 100%;
}

.detailMovieTitle {
  color: white;
  margin: 5%;
}
