.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

@media (width>1400px) {
  .homeContainer {
    width: 1400px;
  }
}

.topHome{
display: flex;
width: 90%;
}

.bigSlide{
  width: 70%;
}

.verticleSlide{
  background-color: red;
  width: 30%;
}