.navbarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -0.5rem;
  background-color: none;
  width: 100%;
  height: 8%;
  z-index: 99;
}

@media (width>1400px) {
  .navbarSection {
    width: 1400px;
  }
}