.signinChoose {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10%;
  width: 100vw;
  height: 100vh;
  margin: 0 10% 0 10%;
  padding: 8% 5% 0 5%;
  background-color: white;
}

.signinChoose .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signinChoose .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-left: 0.1rem solid gray;
  padding: 1% 0 0 3%;
}

.signinChoose h2 {
  font-weight: 700;
  margin-bottom: 5%;
}

.signinChoose h3 {
  padding-top: 5%;
  font-weight: 600;
  font-size: large;
}

.signinChoose button {
  text-align: left;
  width: 80%;
  margin: 3%;
  height: 3rem;
  background-color: white;
  box-shadow: none;
  border: 0.1rem solid gray;
  font-weight: 700;
}

.signinChoose button > * {
  font-size: 2rem;
  margin: 0 4% 0 2%;
}

.signinChoose .createNew {
  background-color: orange;
  text-align: center;
}

.signinChoose .showMore {
  border: none;
  color: rgb(105, 193, 223);
  text-align: center;
}

#submitAccountButton {
  background-color: orange;
  width: 100%;
  color: black;
  border: none;
}

.signin {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.signin .main {
  width: 35%;
  margin-top: 3%;
  border: 0.1rem solid rgb(158, 156, 156);
  padding: 4%;
  padding-bottom: 0;
}

.signin .main p {
  margin-top: 15%;
}

.sideWhole {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.signin .errorMessage {
 margin-top: 2%;
 padding: 1% 0 1% 2% ;
 font-size: small;
}

@media (width<1000px) {
  .signinChoose {
    width: 120%;
  }

  .signinChoose {
    flex-direction: column;
    align-items: center;
  }
  .signinChoose .left {
    width: 80%;
    margin-top: 10%;
  }
  .signinChoose .right {
    width: 60%;
    margin-top: 10%;
  }
}

@media (width<500px) {
  .signinChoose .left {
    width: 100%;
    margin-top: 20%;
    font-size: x-small;
  }
  .signinChoose .right {
    width: 80%;
  }
}
