.singleMovieContainer {
  display: flex;
  flex-direction: column;
  background-color: #2b3035;
  height: 90%;
  aspect-ratio: 1/2.3;
  margin: 2%;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
}

.singleMovieContainer .top {
  height: 60%;
}

.singleMovieContainer .bottom {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
  color: white;
  background-color: #2b3035;
}

.singleMovieContainer .top .bookMark {
  position: absolute;
  margin-left: 0.35rem;
  opacity: 50%;
  transition: all 0.3s ease;
}

.singleMovieContainer .top .bookMark:hover {
  cursor: pointer;
}

.singleMovieContainer .top .bookMark:hover .iconPlus{
  opacity: 100%;
  cursor: pointer;
  color: orange;
  
}

.singleMovieContainer .top .icon {
  font-size: 3rem;
  border: none;
  color: #2b3035;
  width: 100%;
  background:none;
}

.singleMovieContainer .top .iconPlus {
  position: absolute;
  left: 0.5rem;
  font-size: 200%;
  color: white;
  background-color: inherit;
}

.singleMovieContainer .image {
  width: 100%;
  object-fit: fill;
}

.singleMovieContainer .rate {
  font-size: 1.2rem;
  background-color: #2b3035;
  display: flex;
  align-items: center;
  
}
.singleMovieContainer .text .icon {
  font-size: 1rem;
  padding: 0 1%;
  color: #f5c518;
  background-color: #2b3035;
  margin: 0 1rem 0 0;
}

.singleMovieContainer .button .icon {
  padding: 0 1%;
  background-color: inherit;
}

.singleMovieContainer .title {
  height: 50%;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 1%;
  background-color: #2b3035;
}

.singleMovieContainer .button {
  height: 60%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  background-color: #2b3035;
  padding: 3%;
}
.singleMovieContainer .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 60%;
  background-color: #2b3035;
  padding: 0 0 0 3%;
}

.singleMovieContainer .watchNow {
  font-size: 1rem;
  font-weight: 600;
  width: 80%;
  background-color: #2c2c2c;
  color: #5e90d8;
  border: none;
  height: 48%;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.singleMovieContainer .bottom .trailor {
  font-size: 1rem;
  font-weight: 600;
  width: 60%;
  background-color: #2b3035;
  color: white;
  border: none;
  height: 48%;
  margin: 1% 0 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

