.singleMovieHorizontal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45%;
  margin: 5% 0;
  background-color: #2b3035;
  padding: 5%;
}

.singleMovieHorizontal .left {
  width: 30%; 
}
.singleMovieHorizontal .image {
  width: 6rem;
}

.singleMovieHorizontal .text {
  width: 90%;
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5% 0 0 0;
  overflow: hidden;
}
.singleMovieHorizontal .firstTitle {
  font-weight: bold;
  overflow: hidden;
}

.singleMovieHorizontal .secondTitle {
  font-weight: 400;
  font-size: smaller;
}

.singleMovieHorizontal .right {
  width:60%;
}
.singleMovieHorizontal .right .link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleMovieHorizontal .right .button {
  display: flex;
}

.singleMovieHorizontal .right .playIcon {
  color: white;
  font-size: 1.5rem;
  margin-right: 5%;
}

.singleMovieHorizontal .right span {
  color: white;
  text-decoration: none;
}
